.main-container h4 {
  /* Heading/H4 */

  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  /* Neutral/Charcoal */

  color: #2d2d32;
  margin:10px 10px 10px 0px
}
.main-container div{
  margin-left: 3.5px;
}
.main-container p{
  /* Body/Body 3 */

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

/* Neutral/Charcoal */

color: #2D2D32;

}